body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: 'Cuprum', Arial, sans-serif;
	color: #ffffff;
	font-size: 17px;
}

* {
	box-sizing: border-box;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

/*верхняя часть шапки*/

.header-top {
	width: 100%;
	background-color: #243147;
	border: none;
}

.header-top .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header-top-logo {
	width: 220px;
	padding-top: 13px;
	padding-bottom: 7px;
	text-align: center;
	box-shadow: 0px 5px 0 0 #B62430;
	background-color: #ee3643;
	z-index: 10;
}

.header-search {
	width: 270px;
}

.header-search input {
	position: relative;
	padding-left: 48px;
	box-sizing: border-box;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 10px;
	border: none;
	font-size: 17px;
	background-color: #243147;
	background-image: url("../img/icon-search-passive.svg");
	background-repeat: no-repeat;
	background-size: 17px 17px;
	background-position: 17px 13px;
}


input[type="search"]::-webkit-input-placeholder {
	color: #ffffff;
}

input[type="search"]::-moz-placeholder {
	color: #ffffff;
	opacity: 1;
}

input[type="search"]:-ms-input-placeholder {
	color: #ffffff;
	opacity: 1;
}

.header-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
}

.header-menu a {
	padding-top: 12px;
	min-width: 150px;
	text-decoration: none;
	color: #ffffff;
	font-size: 17px;
	line-height: 17px;
}

.checkout {
	padding-left: 5px;
	padding-right: 5px;
	background-color: #63a63e;
	text-align: center;
}

.cart {
	position: relative;
	padding-left: 50px;
	padding-right: 5px;
}

.bookmarks {
	position: relative;
	padding-left: 44px;
	padding-right: 5px;
}

.bookmarks:before {
	content: "";
	width: 14px;
	height: 16px;
	background-image: url("../img/icon-bookmark-passive.svg");
	background-size: 100%;
	position: absolute;
	left: 17px;
	top: 13px;
}

.cart:before {
	content: "";
	width: 15px;
	height: 15px;
	background-image: url("../img/cart-icon-header-passive.svg");
	background-size: 100%;
	position: absolute;
	left: 17px;
	top: 13px;
}

/* центральная часть шапки*/

.header-center {
	width: 100%;
	background-color: #f4f7f9;
}

.header-center .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding-top: 40px;
}

.header-center h1 {
	font-weight: normal;
	margin-left: 53px;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	width: 200px;
	color: #ee3643;
	margin-bottom: 0px;
	margin-top: 0;
	padding-top: 8px;
}

.header-contacts {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 68px;
	padding: 0;
	padding-top: 7px;
}

.header-phone {
	position: relative;
	width: 270px;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	padding-left: 71px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-right: ;
	border: 3px solid #ffffff;
	margin: 0;
}

.header-phone:before {
	content: "";
	width: 19px;
	height: 19px;
	background-image: url("../img/icon-phone.svg");
	background-size: 100%;
	position: absolute;
	left: 13px;
	top: 10px;
}

.header-address {
	margin-top: 8px;
	text-align: center;
	font-size: 14px;
	color: #32425c;
	padding-bottom: 0px;
}

.user-navigation {
	margin-top: 0;
	padding-top: 7px;
	padding-left: 0px;
	margin-left: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	position: relative;
}

.user-navigation a {
	text-decoration: none;
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	padding-top: 12px;
	padding-bottom: 11px;
	background-color: #ffffff;
}

.registration-link {
	width: 150px;
	text-align: center;
	margin-left: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.login-link {
	position: relative;
	width: 121px;
	padding-left: 48px;
	padding-right: ;
}

.login-link:before {
	content: "";
	width: 20px;
	height: 17px;
	background-image: url("../img/icon-login-passive-active.svg");
	background-size: 100%;
	position: absolute;
	left: 14px;
	top: 14px;
}

/*зарегистрированный пользователь*/

.user-link {
	position: relative;
	width: 299px;
	padding-left: 47px;
	padding-right: 40px;
}

.user-link:before {
	content: "";
	width: 20px;
	height: 18px;
	background-image: url("../img/icon-user-passive-active.svg");
	background-size: 100%;
	position: absolute;
	left: 13px;
	top: 13px;
}

.user-logout {
	width: 20px;
	height: 17px;
	background-image: url("../img/icon-logout-passive-active.svg");
	background-size: 20px 17px;
	background-repeat: no-repeat;
	position: absolute;
	right: 10px;
	top: 19px;
}

.user-navigation .user-orders,
.user-navigation .user-cabinet {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	padding: 0;
	margin: 0;
	background-color: transparent;
	position: absolute;
	text-decoration: underline;
}

.user-navigation .user-orders {
	bottom: -26px;
	left: 18px;
}

.user-navigation .user-cabinet {
	bottom: -26px;
	left: 124px;
}

.point {
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #32425c;
	bottom: -19px;
	left: 107px;
}

/*нижняя часть шапки*/

.header-bottom {
	width: 100%;
	background-color: #f4f7f9;
	padding-bottom: 60px;
	padding-top: 29px;
}

.main-navigation {
	margin: 0 auto;
	box-shadow: inset 0px -5px 0 0 #293449;
	background-color: #32425c;
}

.site-navigation {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding-left: 18px;
}

.site-navigation li {
	list-style: none;
}

.site-navigation a {
	display: block;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	text-decoration: none;
	text-transform: capitalize;
	text-align: center;
	padding-top: 19px;
	padding-bottom: 23px;
}

.site-navigation .first {
	padding-left: 34px;
	padding-right: 34px;
}

.site-navigation .second {
	padding-left: 31px;
	padding-right: 31px;
}

.site-navigation .third {
	padding-left: 28px;
	padding-right: 29px;
}

.site-navigation .fourth {
	padding-left: 31px;
	padding-right: 31px;
}

.site-navigation .fifth {
	padding-left: 28px;
	padding-right: 28px;
}

.site-navigation .sixth {
	padding-left: 34px;
	padding-right: 34px;
}

.site-navigation .seventh {
	padding-left: 29px;
	padding-right: 29px;
}

/*основной контент*/

.main-content {
	margin-top: 59px;
	margin-bottom: 85px;
}

.fast-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	margin-bottom: 53px;
}

.fast-menu-left {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.left-list {
	margin: 0;
	width: 620px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
}

.fast-menu-right {
	width: 300px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}


.fast-menu li {
	position: relative;
	width: 300px;
	height: 123px;
	list-style: none;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
}

.fast-menu h3 {
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	margin-left: 23px;
	margin-top: 20px;
}

.fast-menu a {
	display: block;
	width: 135px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	padding-top: 11px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	margin-top: -10px;
	margin-left: 25px;
}

.fast-menu-right a {
	margin-left: 23px;
}


.fast-menu span {
	padding: 0;
	margin: 0;
}

.new {
	width: 60px;
	height: 59px;
	background-image: url("../img/new-flag.png");
	background-size: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 2;
}

/*левая колонка*/

.left-list li:nth-child(1) {
	background-color: #ffbf47;
}

.left-list li:nth-child(1):before {
	content: "";
	width: 44px;
	height: 65px;
	background-image: url("../img/icon-1.svg");
	background-size: 100%;
	position: absolute;
	right: 43px;
	top: 31px;
}

.left-list li:nth-child(2) {
	background-color: #3bbce3;
}

.left-list li:nth-child(2):before {
	content: "";
	width: 75px;
	height: 61px;
	background-image: url("../img/icon-2.svg");
	background-size: 100%;
	position: absolute;
	right: 28px;
	top: 33px;
}

.slider {
	position: relative;
	padding: 0;
	margin: 0;
	width: 620px;
	height: 266px;
	margin-top: 20px;
}

.slider h3 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-size: 36px;
	margin-left: 24px;
	margin-top: 25px;
	margin-bottom: 5px;
	z-index: 5;
}

.slider p {
	padding: 0;
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	margin-left: 25px;
	z-index: 5;
}

.slider a {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 195px;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	padding-left: 25px;
	padding-right: 20px;
	background-color: #ee3643;
	bottom: 22px;
	left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 5;
}

.slider .left-button {
	background-color: transparent;
	width: 22px;
	height: 40px;
	background-image: url("../img/icon-left.svg");
	background-size: 100%;
	position: absolute;
	left: 25px;
	top: 114px;
	border: none;
	z-index: 5;
}

.slider .right-button {
	background-color: transparent;
	width: 22px;
	height: 40px;
	background-image: url("../img/icon-right.svg");
	background-size: 100%;
	position: absolute;
	right: 20px;
	top: 114px;
	border: none;
	z-index: 5;
}

.slider .mini-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 36px;
	padding-left: 30px;
	padding-right: 30px;
	z-index: 5;
	left: 50%;
	transform: translate(-50%, 0%);
}

.mini-button {
	margin: 0;
	padding: 0;
	width: 10px;
	height: 10px;
	border: 2px solid #ffffff;
	background-color: #ffffff;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 5px;
	z-index: 5;
}

.active-button {
	background-color: #ee3643;
	z-index: 5;
}

.drills {
	position: absolute;
	top: 0;
	left: 0;
	width: 620px;
	height: 266px;
	background-image: url("../img/drills-slider.jpg");
	background-size: 620px 266px;
	background-repeat: no-repeat;
}

/*закрытый слайдер*/

.perforators {
	position: absolute;
	top: 0;
	left: 0;
	width: 620px;
	height: 266px;
	background-image: url("../img/perforators-slider.jpg");
	background-size: 620px 266px;
	background-repeat: no-repeat;
	z-index: 2;
	display: none;
}


/*правая колонка*/

.fast-menu-right li:nth-child(1) {
	background-color: #dc91d8;
	margin-bottom: 20px;
}

.fast-menu-right li:nth-child(1):before {
	content: "";
	width: 78px;
	height: 62px;
	background-image: url("../img/icon-3.svg");
	background-size: 100%;
	position: absolute;
	right: 31px;
	top: 31px;
}

.fast-menu-right li:nth-child(2) {
	background-color: #8ed78f;
	margin-bottom: 20px;
}

.fast-menu-right li:nth-child(2):before {
	content: "";
	width: 59px;
	height: 72px;
	background-image: url("../img/icon-4.svg");
	background-size: 100%;
	position: absolute;
	right: 45px;
	top: 26px;
}

.fast-menu-right li:nth-child(3) {
	background-color: #ffc047;
	margin: 0;
	padding: 0;
}

.fast-menu-right li:nth-child(3):before {
	content: "";
	width: 78px;
	height: 63px;
	background-image: url("../img/icon-5.svg");
	background-size: 100%;
	position: absolute;
	right: 31px;
	top: 32px;
}

/*популярные товары*/

.popular-features {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.popular-features-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	background-color: #f9f5f0;
}

.popular-features-title h2 {
	margin-left: 28px;
	margin-top: 30px;
	padding: 0;
	line-height: 30px;
	font-size: 30px;
	font-weight: normal;
	color: #32425c;
	text-transform: uppercase;
}

.popular-features-title a {
	width: 253px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	background-color: #ee3643;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	padding-top: 12px;
	padding-bottom: 8px;
	border-radius: 3px;
	margin-right: 24px;
	margin-top: 25px;
	margin-bottom: 26px;
}

/*карточки товаров*/

.popular-goods {
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 19px;
	margin-bottom: 22px;
}

.popular-goods li {
	font-family: 'PT Sans', Arial, sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 220px;
	height: 318px;
	border: solid 1px #eaeaea;
	position: relative;
	text-align: center;
	padding-bottom: 19px;
}

.good-image {
	display: block;
	padding: 0;
	margin: 0;
}

.good-title {
	display: block;
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: black;
	padding-top: 7px;
	padding-left: 27px;
	padding-right: 27px;
}

.good-action {
	position: absolute;
	width: 218px;
	height: 170px;
	background-color: #ffffff;
	top: 0;
	left: 0;
	display: none;
}

.button-buy {
	font-family: 'Cuprum', Arial, sans-serif;
	position: absolute;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	background-color: #63a63e;
	width: 135px;
	padding: 10px 45px 8px 49px;
	border-radius: 3px;
	box-shadow: 0px 3px 0 0 #367315;
	right: 41px;
	top: 44px;
}

.button-buy:before {
	content: "";
	width: 15px;
	height: 15px;
	background-image: url("../img/cart-icon-buy-passive.svg");
	background-size: 100%;
	position: absolute;
	left: 13px;
	top: 10px;
}

.button-pack {
	font-family: 'Cuprum', Arial, sans-serif;
	position: absolute;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 14px;
	color: #32425c;
	text-decoration: none;
	background-color: #ffffff;
	width: 135px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	border-radius: 3px;
	border: solid 3px #63a63e;
	right: 41px;
	top: 90px;
}

.old-price {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: line-through;
	color: #a9a9a9;
	margin-top: 11px;
	margin-left: 2px;
}

.good-price {
	display: block;
	margin: 0;
	padding: 0;
	padding-top: 11px;
	padding-bottom: 9px;
	margin-left: 5px;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #ffffff;
	background-image: url("../img/stamp.svg");
	background-repeat: no-repeat;
	background-size: 141px 38px;
	background-position-x: center;
	margin-top: auto;
}

/*популярные производители*/

.popular-brands {
	margin: 0 auto;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.popular-brands li {
	list-style: none;
	width: 220px;
	height: 145px;
	border: solid 1px #eaeaea;
	background-color: #ffffff;
	margin-top: 20px;
}

.popular-brands a {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.popular-brands .brand-makita {
	align-self: flex-start;
	margin-top: 50px;
	-ms-flex-item-align: start;
}

.popular-brands .brand-dewalt {
	align-self: flex-start;
	margin-top: 48px;
	-ms-flex-item-align: start;
}

.popular-brands .brand-interskol {
	align-self: flex-start;
	margin-top: 21px;
	-ms-flex-item-align: start;
}

.popular-brands .brand-hitachi {
	align-self: flex-start;
	margin-top: 58px;
	margin-left: 4px;
	-ms-flex-item-align: start;
}

.popular-brands .brand-metabo {
	align-self: flex-start;
	margin-top: 34px;
	margin-left: 4px;
	-ms-flex-item-align: start;
}

/*основной контент каталога*/

/*"хлебные крошки"*/

.catalog-main .container {
	display: block;
}

.breadcrumbs {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	min-height: 60px;
	list-style: none;
	padding-top: 23px;
	flex: 1;
}

.breadcrumbs li {
	padding: 0;
	margin: 0;
	position: relative;
	margin-right: 40px;
}

.breadcrumbs a {
	margin: 0;
	padding: 0;
	display: block;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 14px;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.breadcrumbs .home-icon {
	width: 14px;
	height: 12px;
	background-image: url("../img/icon-home.svg");
	background-size: 14px 12px;
	background-position-x: -1px;
	background-position-y: -1px;
	background-repeat: no-repeat;
}

.breadcrumbs li:after {
	content: "";
	width: 8px;
	height: 12px;
	background-image: url("../img/icon-right-small.svg");
	background-size: 100%;
	position: absolute;
	right: -20px;
	top: 0;
}

.breadcrumbs li:first-child {
	margin-right: 41px;
}

.breadcrumbs li:first-child:after {
	right: -22px;
	top: 0px;
}

.breadcrumbs li:nth-child(2) {
	margin-right: 40px;
}

.breadcrumbs li:nth-child(2):after {
	right: -25px;
	top: 0px;
}

.breadcrumbs li:nth-child(3) {
	margin-right: 43px;
}

.breadcrumbs li:nth-child(3):after {
	right: -26px;
	top: 0px;
}

.breadcrumbs li:last-child:after {
	display: none;
	margin-right: 0;
}

.current-breadcrumb {
	margin: 0;
	padding: 0;
	display: block;
	line-height: 30px;
	font-size: 30px;
	font-weight: normal;
	color: #32425c;
	text-transform: uppercase;
	background-color: #f2f6f8;
	padding-top: 29px;
	padding-bottom: 29px;
	padding-left: 29px;
}

/*основная часть каталога*/

.catalog {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

/*фильтры*/

.filters {
	margin: 0;
	padding: 0;
	width: 220px;
	margin-top: 20px;
	margin-right: 20px;
}

.filters h3 {
	padding: 0;
	margin: 0;
	display: block;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	background-color: #f7f3ec;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 18px;
	border-radius: 3px;
}

.filters label {
	cursor: pointer;
}

/*фильтр цен*/

.price-choice {
	margin: 0;
	padding: 0;
}

.price-choice label {
	padding: 0;
	margin: 0;
	display: block;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
	padding-top: 10px;
	padding-bottom: 15px;
}

.form-slider {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	width: 220px;
	height: 80px;
	background-color: #f7f3ec;
	border-radius: 0 0 5px 5px;
}

.cost-line:before {
	content: "";
	width: 180px;
	height: 2px;
	background-color: #d7dcde;
	background-size: 100%;
	position: absolute;
	left: 20px;
	top: 39px;
}

.cost-line:after {
	content: "";
	width: 152px;
	height: 2px;
	background-color: #00CB75;
	background-size: 100%;
	position: absolute;
	left: 20px;
	top: 39px;
}

.cost-buttons:before {
	content: "";
	width: 20px;
	height: 22px;
	background-image: url("../img/filter-button.svg");
	background-size: 100%;
	position: absolute;
	left: 20px;
	top: 30px;
	z-index: 2;
}

.cost-buttons:hover:before,
.cost-buttons:hover:after {
	cursor: pointer;
}

.cost-buttons:after {
	content: "";
	width: 20px;
	height: 22px;
	background-image: url("../img/filter-button.svg");
	background-size: 100%;
	position: absolute;
	right: 40px;
	top: 30px;
	z-index: 2;
}

input[id="first-cost"],
input[id="last-cost"] {
	box-sizing: border-box;
	border: none;
	padding: 0;
	margin: 0;
	width: 95px;
	height: 38px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	color: #000000;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 13px;
	padding-left: 11px;
	padding-right: 5px;
	background-color: #f7f3ec;
	outline: none;
	margin-top: 9px;
	margin-bottom: 25px;
	border-radius: 3px;
}

.dash {
	padding-left: 5px;
	padding-right: 5px;
	color: #000000;
}

.filters hr {
	padding: 0;
	margin: 0;
	background-color: #e6e6e6;
	height: 1px;
	border: none;
}

/*фильтр производителей*/

.brands {
	margin: 0;
	padding: 0;
	margin-top: 0;
}

.brands p {
	padding: 0;
	margin: 0;
	display: block;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
	padding-top: 15px;
	padding-bottom: 15px;
}

.brand-filter {
	padding: 0;
	margin: 0;
	display: block;
	list-style: none;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 7px;
}

.brand-filter li {
	position: relative;
	padding: 0;
	margin: 0;
	padding-bottom: 20px;
}

.brand-filter li:last-child {
	padding-bottom: 15px;
}

.brand-filter label {
	display: block;
	padding: 0;
	position: relative;
	padding-left: 35px;
}

input[type="checkbox"].chek-input,
input[type="radio"].radio-input {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*чек-боксы*/

.chek-input+.check-box {
	content: "";
	width: 23px;
	height: 23px;
	background-image: url("../img/checkbox-off-passive.svg");
	background-size: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.chek-input:hover+.check-box {
	content: "";
	width: 23px;
	height: 23px;
	background-image: url("../img/checkbox-off-hover.svg");
	background-size: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.chek-input:disabled+.check-box {
	content: "";
	width: 23px;
	height: 23px;
	background-image: url("../img/checkbox-off-disabled.svg");
	background-size: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.chek-input:disabled+.check-box+label {
	color: rgba(0, 0, 0, 0.4);
}

/*активен*/

.chek-input:checked+.check-box {
	content: "";
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on-passive.svg");
	background-size: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.chek-input:checked:hover+.check-box {
	content: "";
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on-hover.svg");
	background-size: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.chek-input:checked:disabled+.check-box {
	content: "";
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on-disabled.svg");
	background-size: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

/*фильтр типов*/

.item-type {
	margin: 0;
	padding: 0;
}

.item-type p {
	padding: 0;
	margin: 0;
	display: block;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
	margin-top: 17px;
	padding-bottom: 10px;
}

.type-filter {
	padding: 0;
	margin: 0;
	display: block;
	list-style: none;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
}

.type-filter li {
	position: relative;
	padding: 0;
	margin: 0;
	padding-bottom: 15px;
}

.type-filter label {
	display: block;
	padding: 0;
	position: relative;
	padding-left: 35px;
	padding-top: 5px;
}

/*радио-кнопки*/

.radio-input+.radio-box {
	content: "";
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-off-passive.svg");
	background-size: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.radio-input:hover+.radio-box {
	content: "";
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-off-hover.svg");
	background-size: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.radio-input:disabled+.radio-box {
	content: "";
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-off-disabled.svg");
	background-size: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.radio-input:checked+.radio-box {
	content: "";
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-on-passive.svg");
	background-size: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.radio-input:checked:hover+.radio-box {
	content: "";
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-on-hover.svg");
	background-size: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.radio-input:checked:disabled+.radio-box {
	content: "";
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-on-disabled.svg");
	background-size: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.radio-input:disabled+.radio-box+label {
	color: rgba(0, 0, 0, 0.4);
}

/*кнопка отправить*/

input[name="apply-filters"] {
	padding: 0;
	margin: 0;
	display: block;
	width: 140px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	padding-top: 10px;
	padding-bottom: 9px;
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
	border-radius: 3px;

	margin-top: 62px;
}

input[name="apply-filters"]:hover {
	cursor: pointer;
	border: 1px solid #ee3643;
}

/*каталог товаров*/

/*выбор опций*/

.goods {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	display: block;
	flex: 1;
}

.goods-sorting {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #f7f3ec;
}

.goods-sorting h3 {
	padding: 0;
	margin: 0;
	display: block;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 18px;
	margin-right: auto;
}

.goods-sorting a {
	display: block;
	text-decoration: none;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 13px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.18);
	padding: 0;
	margin: 0;
	padding-bottom: 1px;
	border-bottom: 1px dotted #ee3643;
}

.goods-sorting .price {
	color: #ee3643;
	border: none;
}

.goods-sorting .ascending {
	padding: 0;
	margin: 0;
	display: block;
	width: 11px;
	height: 10px;
	background-color: transparent;
	background-image: url("../img/icon-up-focus.svg");
	background-repeat: no-repeat;
	background-size: 11px 10px;
	border: none;
	outline: none;
	margin-right: 21px;
}

.goods-sorting .descending {
	padding: 0;
	margin: 0;
	display: block;
	width: 11px;
	height: 10px;
	background-color: transparent;
	background-image: url("../img/icon-down-passive.svg");
	background-repeat: no-repeat;
	background-size: 11px 10px;
	border: none;
	outline: none;
	margin-right: 17px;
}

.goods-sorting .price {
	margin-right: 71px;
}

.goods-sorting .type {
	margin-right: 65px;
}

.goods-sorting .function {
	margin-right: 46px;
}

/*карточки товаров каталога*/

.goods-items {
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.goods-items li {
	font-family: 'PT Sans', Arial, sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 220px;
	height: 318px;
	border: solid 1px #eaeaea;
	position: relative;
	text-align: center;
	padding-bottom: 19px;
	margin-top: 20px;
}

/*пагинатор*/

.paginator {
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	margin-top: 52px;
}

.paginator .page,
.paginator .next-page {
	display: block;
	min-width: 38px;
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
	padding-top: 8px;
	padding-bottom: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	text-align: center;
	outline: none;
	margin-right: 10px;
}

.paginator .page-focus {
	border: 1px solid #ee3643;
	background-color: #ee3643;
	color: #ffffff;
}

.paginator .next-page {
	padding-right: 30px;
	padding-left: 32px;
	text-transform: uppercase;
}

/*пара слов о перфораторах*/

.about-drills {
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: #f4f7f9;
	margin-top: 60px;
	padding-bottom: 68px;
	color: #000000;
}

.about-drills h3 {
	margin: 0;
	padding: 0;
	font-family: 'Cuprum', Arial, sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	padding-top: 65px;
	font-weight: normal;
}

.about-drills p {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin-top: 25px;
}

/*услуги*/

/*кнопки - левый список*/

.our-offers {
	width: 100%;
	background-color: #f4f7f9;
	color: #000000;
}

.our-offers .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.our-offers h2 {
	margin: 0;
	padding: 0;
	font-family: 'Cuprum', Arial, sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	margin-top: 65px;
	font-weight: normal;
}

.our-offers p {
	width: 400px;
	letter-spacing: normal;
	font-style: normal;
	font-stretch: normal;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin-top: 26px;
}

.our-offers .our-services {
	margin: 0;
	padding: 0;
	margin-top: 65px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.service-buttons {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	margin-top: 4px;
}

.service-buttons:before {
	content: "";
	width: 10px;
	height: 279px;
	background-image: url("../img/buttons-element.png");
	background-size: 100%;
	position: absolute;
	right: 0px;
	top: -46px;
}

.our-services li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.service-buttons button {
	display: block;
	padding: 0;
	margin: 0;
	font-family: 'Cuprum', Arial, sans-serif;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: #ffffff;
	border: none;
	width: 240px;
	background-color: #32425c;
	box-shadow: inset 0px 1px 0 0 #405069, inset 0px -1px 0 0 #293449;
	text-align: left;
	padding-left: 22px;
	padding-top: 15px;
	padding-bottom: 17px;
}

button[name="delivery"] {
	background-color: #ffffff;
	color: #32425c;
	box-shadow: none;
	outline: none;
}

/*описание - правый список*/

.services-description {
	margin: 0;
	padding: 0;
	margin-left: auto;
}

.services-description li {
	width: 620px;
	position: relative;
}

.services-description h3 {
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
	color: #32425c;
	position: relative;
	padding-top: 2px;
}

.services-description p {
	width: 275px;
}

/*доставка*/

.our-delivery {
	min-height: 287px;
}

.about-delivery {
	display: block;
	padding: 0;
	margin: 0;
	width: 275px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.delivery-image {
	width: 468px;
	height: 261px;
	position: absolute;
	background-image: url("../img/delivery-track.png");
	background-repeat: no-repeat;
	background-size: 100%;
	top: 25px;
	right: 0;
}

/*гарантия*/

.our-warranty {
	min-height: 287px;
	display: none;
}

.about-warranty {
	display: block;
	padding: 0;
	margin: 0;
	width: 375px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.warranty-image {
	width: 389px;
	height: 283px;
	position: absolute;
	background-image: url("../img/warranty.png");
	background-repeat: no-repeat;
	background-size: 100%;
	top: 0px;
	right: -10px;
}

/*кредит*/

.our-credit {
	min-height: 287px;
	display: none;
}

.about-credit {
	display: block;
	padding: 0;
	margin: 0;
	width: 280px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.our-credit a {
	padding: 0;
	margin: 0;
	display: block;
	width: 195px;
	text-align: center;
	background-color: #ff5357;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	padding-top: 12px;
	padding-bottom: 9px;
	border-radius: 3px;
	margin-top: 31px;
}

.credit-image {
	width: 465px;
	height: 285px;
	position: absolute;
	background-image: url("../img/credit.png");
	background-repeat: no-repeat;
	background-size: 100%;
	top: 0px;
	right: -10px;
}

/*о компании и контакты*/


.about-contacts {
	margin-top: 55px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	padding-bottom: 86px;
}

.about-contacts h2 {
	display: block;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	font-weight: normal;
	margin-top:
}

.about-contacts p {
	display: block;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	margin: 0px;
	padding: 0px;
	margin-bottom: 32px;
}

.about-company .second {
	margin-top: -9px;
	width: 400px;
}

.about-contacts .button {
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #ee3643;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	padding-top: 12px;
	padding-bottom: 10px;
	border-radius: 3px;
}

/*о компани*/

.about-company {
	margin: 0;
	padding: 0;
	margin-right: 120px;
}

.transport-companies {
	display: block;
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-top: -10px;
	color: #000000;
}

.transport-companies li {
	padding-left: 35px;
	position: relative;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 20px;
}

.about-company li:after {
	content: "";
	width: 25px;
	height: 2px;
	background-color: #ee3643;
	position: absolute;
	left: 0px;
	top: 10px;
}

.about-company .button {
	width: 220px;
	margin-top: 36px;
}

/* контакты*/

.map-contacts {
	margin: 0;
	padding: 0;
}

.map-contacts p {
	width: 180px;
}

.map-contacts .button {
	width: 300px;
	margin-top: 36px;
	padding-left: 19px;
}

/*верхняя часть футера*/

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.footer-top {
	width: 100%;
	background-color: #32425c;
}

.footer-top .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.footer-logo {
	width: 220px;
	padding-top: 20px;
	padding-bottom: 22px;
	box-shadow: inset 0px -5px 0 0 #B62430;
	background-color: #ee3643;
	text-align: center;
}

.footer-site-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: end;
	align-content: flex-end;
	margin-left: auto;
}

.footer-site-navigation a {
	display: block;
	font-size: 18px;
	line-height: 24px;
	color: #f3f7f9;
	text-decoration: none;
	text-transform: capitalize;
	padding-top: 8px;
	padding-bottom: 7px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 59px;
}

/*центральная часть футера*/

.footer-center {
	width: 100%;
	background-color: #32425c;
}

.footer-center .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 18px;
	line-height: 24px;
}

.footer-center p {
	font-size: 18px;
	line-height: 24px;
	color: #f3f7f9;
	margin-top: 27px;
	margin-bottom: 50px;
	padding-left: 3px;
	width: 326px;
}

.footer-services-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: end;
	align-content: flex-end;
	margin-top: 20px;
}

.footer-services-navigation a {
	display: block;
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
	text-decoration: none;
	text-transform: capitalize;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-left: 59px;
}

/*нижняя часть шапки*/

.footer-bottom {
	padding: 0;
	width: 100%;
	background-color: #243147;
}

.footer-bottom .container {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;

	padding-top: 35px;
	padding-bottom: 30px;
}

.footer-copyright {
	padding: 0;
	margin: 0;
	padding-left: 11px;
	padding-top: 2px;
	width: 240px;
}

.footer-social {
	padding: 0;
	margin: 0;
	width: 300px;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-left: 77px;
}

.social-button {
	display: block;
	margin-right: 4px;
	width: 41px;
	height: 41px;
	background-color: #212a3a;
	border-radius: 50%;
	position: relative;
}

.vk {
	background-image: url("../img/vk-icon.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 26px 15px;

}

.fb {
	background-size: 12px 22px;
	background-image: url("../img/icon-fb.svg");
	background-repeat: no-repeat;
	background-position: center center;

}

.insta {
	background-image: url("../img/icon-insta.svg");
	background-size: 21px 21px;
	background-repeat: no-repeat;
	background-position: center center;
}

.footer-feedback {
	margin: 0;
	margin-left: 33px;
	padding-top: 2px;
	width: 135px;
}

.footer-creator {
	margin: 0;
	margin-left: auto;
	margin-right: 20px;
	padding-top: 2px;
	width: 100px;
}

.footer-feedback a,
.footer-creator a {
	color: #ffd180;
	text-decoration: none;
}

/*попаппы*/

/*отправка писем*/

.modal {
	position: fixed;
	width: 620px;
	box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
	color: #000000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
	background-color: #ffffff;
	border-top: 7px solid #FF5256;
	padding-top: 48px;
	z-index: 5;
}

.modal-letter * {
	padding: 0;
	margin: 0;
}

.modal-container {
	padding-right: 80px;
	padding-left: 80px;
}

button[name="modal-close"] {
	position: absolute;
	width: 21px;
	height: 21px;
	background-color: transparent;
	border: none;
	outline: none;
	background-image: url("../img/modal-close.svg");
	background-size: 21px 21px;
	background-repeat: no-repeat;
	right: 9px;
	top: 9px;
	cursor: pointer;
}

.modal-letter label {
	font-size: 18px;
	line-height: 18px;
}

.modal-letter input,
.modal-letter textarea {
	margin-top: 13px;
	width: 100%;
	font-size: 13px;
	line-height: 18px;
	padding-left: 16px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 9px;
	border-radius: 3px;
	border: solid 2px #dee3e4;
}

.user-name {
	display: inline-block;
	width: 220px;
}

.user-mail {
	display: inline-block;
	width: 220px;
	margin-left: 15px;
}

.user-text {
	margin-top: 22px;
}

.send-letter {
	margin: 0;
	width: 100%;
	background-color: #f4f4f4;
	padding: 37px 0;
	margin-top: 37px;
}

.send-letter button {
	display: block;
	margin: 0 auto;
	width: 460px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #ee3643;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	padding-top: 12px;
	padding-bottom: 8px;
	border-radius: 3px;
	border: none;
}

.modal-letter {
	display: none;
}

/*карта*/

.modal-map {
	position: fixed;
	width: 940px;
	box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.5);
	color: #000000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
	background-color: #ffffff;
	display: none;
}

/*покупки в каталоге*/

.modal-buy p {
	padding-left: 100px;
	padding-top: 18px;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #000000;
	background-color: #ffffff;
	background-image: url("../img/icon-mark.svg");
	background-size: 66px 66px;
	background-repeat: no-repeat;
	min-height: 66px;
}

.control-buy {
	margin: 0;
	width: 100%;
	background-color: #f4f4f4;
	padding: 37px 0;
	margin-top: 37px;
}

.control-buy a {
	display: inline-block;
	width: 220px;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
}

.finishing-buy {
	background-color: #ee3643;
	color: #ffffff;
}

.continue-buy {
	background-color: #ffffff;
	color: #000000;
	margin-left: 15px;
}

.modal-buy {
	display: none;
}

/*visally-hidden*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*активные состояния элементов*/

/*активное лого*/

.header-top-logo:hover {
	box-shadow: 0px 5px 0 0 #9B1B25;
	background-color: #ca2c37;
}

.header-top-logo:active {
	box-shadow: 0px 5px 0 0 #8F1821;
	background-color: #ba2732;
}

/*активный поиск*/

.header-search input:hover {
	background-color: #212a3a;
	background-image: url("../img/icon-search-hover.svg");
}

.header-search input:focus {
	background-color: #ffffff;
	background-image: url("../img/icon-search-focus.svg");
	outline: none;
	border: none;
}

/*активное меню хэдэра*/

.checkout:hover {
	background-color: #5fbb2d;
}

.cart:hover {
	background-color: #212a3a;
}

.bookmarks:hover {
	background-color: #212a3a;
}

.bookmarks:hover:before {
	background-image: url("../img/icon-bookmark-hover.svg");
}

.cart:hover:before {
	background-image: url("../img/cart-icon-header-hover.svg");
}

.checkout:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5)
}

.cart:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.6)
}

.bookmarks:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.6)
}

.bookmarks:active:before {
	background-image: url("../img/icon-bookmark-active.svg");
}

.cart:active:before {
	background-image: url("../img/cart-icon-header-active.svg");
}

/*активное меню для незарегистрированного пользователя*/

.registration-link:hover {
	color: #ee3643;
}

.login-link:hover {
	color: #ee3643;
}

.login-link:hover:before {
	background-image: url("../img/icon-login-hover.svg");
}

.registration-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.login-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.login-link:active:before {
	background-image: url("../img/icon-login-passive-active.svg");
}

/*активное меню для зарегистрированного пользователя*/

.user-link:hover {
	color: #000000;
}

.user-link:hover:before {
	background-image: url("../img/icon-user-hover.svg");
}

.user-logout:hover {
	background-image: url("../img/icon-logout-hover.svg");
}

.user-navigation .user-orders:hover,
.user-navigation .user-cabinet:hover {
	color: #ee3643;
}

.user-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-link:active:before {
	background-image: url("../img/icon-user-passive-active.svg");
}

.user-logout:active {
	background-image: url("../img/icon-logout-passive-active.svg");
}

.user-navigation .user-orders:active,
.user-navigation .user-cabinet:active {
	color: rgba(50, 66, 92, 0.3);
}

/*активная навигация сайта в шапке*/

.site-navigation a:hover {
	background-color: #243147;
}

.site-navigation a:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #1d2739;
}

/*активные ссылки на главном контенте*/

.fast-menu .to-product:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.fast-menu .to-product:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.slider a:hover {
	background-color: #ca2c37;
}

.slider a:active {
	background-color: #ba2732;
}

/*активные карточки товара на основной странице и каталоге*/

.popular-goods li:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.goods-items li:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

li:hover .good-action {
	display: block;
}

.button-buy:hover {
	background-color: #5fbb2d;
	box-shadow: 0px 3px 0 0 #367315;
}

.button-buy:hover:before {
	background-image: url("../img/cart-icon-buy-hover.svg");
}

.button-buy:active {
	background-color: #518534;
	box-shadow: 0px 3px 0 0 #518534;
}

.button-buy:active:before {
	background-image: url("../img/cart-icon-buy-active.svg");
}

.button-pack:hover {
	border-color: #32425c;
}

.button-pack:active {
	border-color: #32425c;
	opacity: 0.3;
}

/*активные карточки брендов*/

.brand:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand:active {
	box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brand:active img {
	opacity: 0.3;
}

.popular-brands img:active {
	opacity: 0.3;
}

/*активная сортировка товара по свойствам*/

.goods-sorting a:hover {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}

.goods-sorting .price:hover {
	color: #ee3643;
	border: none;
}

.goods-sorting a:focus {
	color: #ee3643;
	border: none;
}

.goods-sorting .ascending:hover {
	background-image: url("../img/icon-up-hover.svg");
}

.goods-sorting .descending:hover {
	background-image: url("../img/icon-down-hover.svg");
}

.goods-sorting .ascending:focus {
	background-image: url("../img/icon-up-focus.svg");
}

.goods-sorting .descending:focus {
	background-image: url("../img/icon-down-focus.svg");
}

/*активный пагинатор*/

.page:hover {
	border-color: #bdc6ca;
	color: #000000;
}

.paginator .page-focus:hover {
	border: 1px solid #ee3643;
	background-color: #ee3643;
	color: #ffffff;
}

.next-page:hover {
	border-color: #bdc6ca;
	color: #000000;
}

.page:focus {
	border: 1px solid #ee3643;
	background-color: #ee3643;
	color: #ffffff;
}

.paginator .page:active {
	background-color: #ffffff;
	border-color: 1px solid #ee3643;
	color: #000000;
}

.paginator .page-focus:active {
	border: 1px solid #ee3643;
	background-color: #ee3643;
	color: #ffffff;
}

.next-page:active {
	background-color: #ffffff;
	border-color: #ee3643;
	color: #000000;
}

/*активность кнопок табов*/

.service-buttons button:hover {
	background-color: #293449
}

button[name="delivery"]:hover {
	background-color: #ffffff;
	color: #32425c;
	box-shadow: none;
	outline: none;
}

.service-buttons button:focus {
	background-color: #ffffff;
	color: #32425c;
	box-shadow: none;
	outline: none;
}

/*активность навигации футера*/

.footer-site-navigation a:hover,
.footer-services-navigation a:hover {
	text-decoration: underline;
}

.footer-site-navigation a:active {
	text-decoration: none;
	color: rgba(241, 245, 247, 0.5);
}

.footer-services-navigation a:active {
	text-decoration: none;
	color: rgba(255, 209, 128, 0.5);
}

/*активность соц.кнопок*/

.social-button:hover {
	background-color: #ee3643;
}

.social-button:active {
	background-color: #ee3643;
}

/*активность отзывов и разработано*/

.footer-feedback a:hover,
.footer-creator a:hover {
	text-decoration: underline;
}

.footer-feedback a:active,
.footer-creator a:active {
	text-decoration: none;
	color: #ee3643;
}

/*активность модального окна*/

.modal-letter input {
	outline: none;
}

input[name="user-name"]:hover,
input[name="user-mail"]:hover {
	border-color: #b5b5b5;
}

input[name="user-name"]:focus,
input[name="user-mail"]:focus {
	border-color: #ee3643;
}

.red:hover {
	background-color: #ee3643;
}

.red:active {
	background-color: #ee3643;
}

/*интерактивная карта*/

iframe {
	frameborder: 0;
	border: 0;
}

/*java-script*/

.modal-show {
	display: block;
}

.red {
	background-color: #ee3643;
}

.on:before {
	content: "";
	width: 14px;
	height: 16px;
	background-image: url("../img/icon-bookmark-on.svg");
	background-size: 100%;
	position: absolute;
	left: 17px;
	top: 13px;
	z-index: 3;
}

.on:hover:before {
	background-image: url("../img/icon-bookmark-on.svg");
}

.on:active:before {
	background-image: url("../img/icon-bookmark-on.svg");
}
